Package: avro-doc
Source: avro-libs
Version: 1.8.2+cdh6.3.2-1605554
Architecture: all
Maintainer: vRNI, VMware, Inc. <https://www.vmware.com/support>
Installed-Size: 16852
Section: misc
Priority: extra
Homepage: http://avro.apache.org
Description: JavaDocs for Avro libraries
 .
 .
 Built by vRNI, VMware, Inc.
